apiVersion: v1
kind: ConfigMap
metadata:
  name: feast-config
  namespace: seldon-mesh
data:
  feature_store.yaml: |
    project: iris_project
    registry: s3://feast-data/registry.db
    provider: local

    online_store:
      type: redis
      connection_string: "redis-master.seldon-mesh.svc.cluster.local:6379"

    offline_store:
      type: file

    # Настройка S3 для Feast внутри кластера
    s3_endpoint_url: http://minio.mlops.svc.cluster.local:9000

--- 
apiVersion: v1
kind: Secret
metadata:
  name: mlops-auth
  namespace: seldon-mesh
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: "minioadmin"
  AWS_SECRET_ACCESS_KEY: "minioadmin"

---

apiVersion: batch/v1
kind: Job
metadata:
  name: iris-training-job
  namespace: seldon-mesh
spec:
  ttlSecondsAfterFinished: 600 
  backoffLimit: 2
  template:
    spec:
      containers:
      - name: trainer
        image: feast-trainer:v3
        imagePullPolicy: IfNotPresent
        
        # Подключаем секреты и конфиги
        env:
        # 1. MLflow (в другом неймспейсе mlops)
        - name: MLFLOW_TRACKING_URI
          value: "http://mlflow.mlops.svc.cluster.local:5000"
        
        # 2. MinIO Endpoint (для boto3/pandas)
        - name: AWS_ENDPOINT_URL
          value: "http://minio.mlops.svc.cluster.local:9000"
        
        # 3. Регион и TLS
        - name: AWS_REGION
          value: "us-east-1"
        - name: MLFLOW_S3_IGNORE_TLS
          value: "true"

        # 4. Секреты из Kubernetes Secret
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: mlops-auth
              key: AWS_ACCESS_KEY_ID
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: mlops-auth
              key: AWS_SECRET_ACCESS_KEY

        # Монтируем правильный конфиг Feast поверх файла в образе
        volumeMounts:
        - name: feast-config-vol
          mountPath: /app/feature_repo/feature_store.yaml
          subPath: feature_store.yaml

      restartPolicy: Never
      
      volumes:
      - name: feast-config-vol
        configMap:
          name: feast-config