apiVersion: v1
kind: Service
metadata:
  name: seldon-kafka-bootstrap
  namespace: seldon-mesh
spec:
  type: ExternalName  
  externalName: seldon-kafka-bootstrap.kafka.svc.cluster.local
  ports:
  - port: 9092
    protocol: TCP
    targetPort: 9092
---

apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  name: seldon-kafka
  namespace: seldon-mesh
spec:
  kafka:
    version: 3.7.0
    replicas: 1
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
    config:
      offsets.topic.replication.factor: 1
      transaction.state.log.replication.factor: 1
      transaction.state.log.min.isr: 1
      default.replication.factor: 1
      min.insync_replicas: 1
    storage:
      type: ephemeral
  zookeeper:
    replicas: 1
    storage:
      type: ephemeral
  entityOperator:
    topicOperator: {}
    userOperator: {}

