apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pgdata-pvc
  namespace: mlops
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 5Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: mlops
spec:
  replicas: 1
  selector:
    matchLabels: {app: postgres}
  template:
    metadata: {labels: {app: postgres}}
    spec:
      containers:
      - name: postgres
        image: postgres:15
        env:
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef: {name: mlflow-db-secret, key: POSTGRES_USER}
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef: {name: mlflow-db-secret, key: POSTGRES_PASSWORD}
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef: {name: mlflow-db-secret, key: POSTGRES_DB}
        ports: [{containerPort: 5432}]
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: pgdata
      volumes:
      - name: pgdata
        persistentVolumeClaim:
          claimName: pgdata-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: mlops
spec:
  ports: [{port: 5432, targetPort: 5432}]
  selector: {app: postgres}
