apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: kubeflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
      annotations:
        sidecar.istio.io/inject: "false"
    spec:
      containers:
      - name: redis
        image: redis:7.0
        ports:
        - containerPort: 6379
        volumeMounts:
        - name: data
          mountPath: /data
      volumes:
      - name: data
        emptyDir: {} 
---
apiVersion: v1
kind: Service
metadata:
  name: redis-master
  namespace: kubeflow
spec:
  ports:
  - port: 6379
    targetPort: 6379
  selector:
    app: redis