apiVersion: batch/v1
kind: Job
metadata:
  name: training-job
  namespace: kubeflow
spec:
  backoffLimit: 2
  ttlSecondsAfterFinished: 86400
  template:
    spec:
      serviceAccountName: default
      containers:
      - name: trainer
        image: ghcr.io/maxzspb/mlops-project/pytorch_exp:latest
        imagePullPolicy: Always
        env:
        - name: MLFLOW_TRACKING_URI
          value: "http://mlflow.mlops:5000"
        - name: AWS_ENDPOINT_URL
          value: "http://minio.mlops:9000"
        - name: AWS_ACCESS_KEY_ID
          value: "minioadmin"
        - name: AWS_SECRET_ACCESS_KEY
          value: "minioadmin"
        resources:
          requests:
            cpu: 2
            memory: 4Gi
          limits:
            cpu: 4
            memory: 8Gi
      restartPolicy: Never