# loki-values.yaml
loki:
  persistence:
    enabled: true
    size: 50Gi
  
  config:
    auth_enabled: false
    ingester:
      chunk_idle_period: 3m
      max_chunk_age: 1h
      max_streams_per_user: 0
      chunk_retain_period: 1m
    limits_config:
      enforce_metric_name: false
      reject_old_samples: true
      reject_old_samples_max_age: 168h
    schema_config:
      configs:
        - from: 2020-01-01
          store: boltdb-shipper
          object_store: filesystem
          schema:
            version: v11
            index:
              prefix: index_
              period: 24h
    server:
      http_listen_port: 3100
      log_level: info

promtail:
  enabled: true
  config:
    clients:
      - url: http://loki:3100/loki/api/v1/push
    
    scrape_configs:
      - job_name: kubernetes-pods
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_name]
            action: replace
            target_label: pod
          - source_labels: [__meta_kubernetes_namespace]
            action: replace
            target_label: namespace
          - source_labels: [__meta_kubernetes_pod_container_name]
            action: replace
            target_label: container

grafana:
  enabled: true
  persistence:
    enabled: true
    size: 10Gi