apiVersion: v1
kind: Secret
metadata:
  name: kserve-minio-secret
  namespace: kubeflow
  annotations:
    serving.kserve.io/s3-endpoint: "minio-service.kubeflow.svc.cluster.local:9000"
    serving.kserve.io/s3-usehttps: "0"
    serving.kserve.io/s3-region: "us-east-1"
    serving.kserve.io/s3-verifyssl: "0"
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: minio
  AWS_SECRET_ACCESS_KEY: minio123
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ml-pipeline-config
  namespace: kubeflow
data:
  config.json: |
    {
      "DBDriverName": "mysql",
      "DBConfig": {
        "DriverName": "mysql",
        "ConMaxLifeTime": "4h",
        "MySQLConfig": {
          "Host": "mysql",
          "Port": "3306",
          "User": "root",
          "Password": "",
          "DBName": "mlpipeline",
          "GroupConcatMaxLen": "4194304",
          "ExtraParams": {
             "charset": "utf8mb4",
             "collation": "utf8mb4_unicode_ci"
          }
        }
      },
      "ObjectStoreConfig": {
        "Host": "minio-service",
        "Port": "9000",
        "AccessKey": "minio",
        "SecretAccessKey": "minio123",
        "BucketName": "mlpipeline",
        "Secure": false
      },
      "MetadataConfig": {
        "Address": "metadata-grpc-service",
        "Port": "8080"
      },
      "InitConnectionTimeout": "10s",
      "DefaultPipelineRunnerServiceAccount": "default-editor"
    }
  sample_config.json: "[]"